Repository AkshithaRajavel/cci-path-filtering: changes, and which CircleCI parameters are due for each by the changed paths.
All: wf="wf1", wf="wf2"

.circleci/config.yml:

version: '2.1'
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.7
workflows:
  filter:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/workflo-config.yml
          mapping: |
            workflow1/.* wf "wf1"
            workflow2/.* wf "wf2"

path filters test
  .circleci/config.yml
  workflow1/sample.txt
Due: wf="wf1"

path filters test
  .circleci/workflow-config.yml
Due: none

path filters test
  workflow1/sample.txt
Due: wf="wf1"

path filters test
  .circleci/config.yml
Due: none

testing
  .circleci/config.yml
  .circleci/workflows-config.yml
Due: none

testing
  .circleci/config.yml
Due: none

testing
  workflow1/sample.txt
Due: wf="wf1"

testing
  .circleci/workflows-config.yml
  workflow1/sample.txt
Due: wf="wf1"

testing
  .circleci/workflows-config.yml
Due: none

testing
  .circleci/config.yml
  .circleci/workflows-config.yml
  workflow1/sample.txt
Due: wf="wf1"

testing
  .circleci/config.yml
  workflow1/sample.txt
Due: wf="wf1"

testing
  .circleci/config.yml
  Makefile
  workflow1/sample.txt
Due: wf="wf1"

testing
  workflow1/sample.txt
  workflow2/sample.txt
Due: wf="wf1", wf="wf2"
